@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.caption{
    padding:5px;
}

.spacer{
    width:20px;
}

.opacity{
    margin-left:8px;
}